<%- include ('../partials/header.ejs') %>

    <body>
        <div class="container">
            <hr>
            <div class="col-lg-12" style="text-align: right;">
                <a href="/" class="btn btn-dark text-right">HOME</a>
            </div>
            <br>
            <div class="card">
                <div class="card-header">
                    <h1>Editar registro</h1>
                </div>
                <div class="card-body">
                    <form action="/luminaria/update" method="POST">
                        <select type="text" name="estado" class="form-control">
                            <option value="<%= luminaria.estado %>">
                                <%= luminaria.estado %>
                            </option>
                            <% if(luminaria.estado=='ENTRADA' ) { %>
                                <option value="SAIDA">SAIDA</option>
                                <% } else { %>
                                    <option value="ENTRADA">ENTRADA</option>
                                    <% } %>
                        </select> <br>
                        <input type="text" class="form-control" name="modelo"
                            placeholder="Informe o modelo da Luminaria:" value="<%= luminaria.modelo %>"><br>
                        <input type="number" class="form-control" name="qntd"
                            placeholder="Informe a quantidade de peças:" value="<%= luminaria.qntd %>"><br>
                        <input type="text" class="form-control" name="date" placeholder="Informe a data:"
                            value="<%= luminaria.date %>"><br>
                        <input type="hidden" name="id" value="<%= luminaria.id %>">
                        <button class="btn btn-primary btn-lg ">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>

    <%- include ('../partials/footer.ejs') %>