<%- include ('../partials/header.ejs') %>

    <body>
        <div class="container">
            <hr>
            <div class="col-lg-12" style="text-align: right;">
                <a href="/" class="btn btn-dark text-right">HOME</a>
            </div>
            <h1>Luminarias</h1>
            <a class="btn btn-primary btn-lg" href="/luminaria/new">Novo registro</a>
            <hr>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Estado</th>
                        <th>Modelo</th>
                        <th>Quantidade</th>
                        <th>Data</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>

                    <% luminarias.forEach(luminaria=> { %>
                        <tr>
                            <th>
                                <%= luminaria.id %>
                            </th>
                            <th>
                                <%= luminaria.estado %>
                            </th>
                            <th>
                                <%= luminaria.modelo %>
                            </th>
                            <th>
                                <%= luminaria.qntd %>
                            </th>
                            <th>
                                <%= luminaria.date %>
                            </th>
                            <th>
                                <a href="/luminaria/edit/<%= luminaria.id %>" class="btn btn-outline-warning">Editar</a>

                                <form action="/luminaria/delete" method="POST" style="display: inline;"
                                    onsubmit="confirmarDelecao(event, this)">
                                    <input type="hidden" name="id" value="<%= luminaria.id %>">
                                    <button class="btn btn-outline-danger">Deletar</button>
                                </form>
                            </th>
                        </tr>
                        <% }) %>

                </tbody>
            </table>
        </div>
    </body>

    <%- include ('../partials/footer.ejs') %>

        <script>
            function confirmarDelecao(event, form) {
                event.preventDefault();
                var decision = confirm("Você quer deletar este registro?");
                if (decision) {
                    form.submit();
                }
            }
        </script>